[2019-12-07 04:13] jsjoeio opened #1 "Add Contributors"
Recognize everyone who played a part in making this come to life.

[2019-12-07 04:22] jsjoeio commented on #1
@all-contributors please add @maxcell for ideas and design

[2019-12-07 04:26] jsjoeio commented on #1
@all-contributors please add @m0nica for code and ideas

[2019-12-07 04:27] jsjoeio commented on #1
@all-contributors please add @joelhooks for ideas

[2019-12-07 04:28] jsjoeio commented on #1
@all-contributors please add @taniarascia for ideas

[2019-12-07 04:30] jsjoeio commented on #1
@all-contributors please add @kentcdodds for ideas

[2019-12-07 04:31] jsjoeio commented on #1
@all-contributors please add @sw-yx for ideas

[2019-12-07 04:33] jsjoeio commented on #1
@all-contributors please add @eggheadio for code, ideas, and infra

[2019-12-07 04:34] jsjoeio commented on #1
@all-contributors please add @gatsbyjs for infra, platform, ideas and code

[2019-12-07 19:29] jsjoeio opened #10 "Add "edit on GitHub" link"
## Summary

Similar to how others with Gatsby blogs (like Tania Rascia), the idea is to have a quick link to edit each post on GitHub. Ideally, it would have a "last updated" with a timestamp as well (maybe using latest commit to file?)

### Basic example

See screenshot from [blog](https://www.taniarascia.com/overview-of-css-concepts/)
![edit-example](https://user-images.githubusercontent.com/380

[2019-12-07 19:31] jsjoeio opened #11 "Change code syntax highlighting theme"
## Summary

Use custom code syntax theme.

### Basic example

I'd love to use my current VSCode theme: [Noctis Minimus](https://marketplace.visualstudio.com/items?itemName=liviuschera.noctis)
![image](https://user-images.githubusercontent.com/3806031/70379728-5a542080-18ed-11ea-9a59-c4ab04b08e3b.png)

### Motivation

Adds an extra layer of personality to my blog and matches what I use :)

[2019-12-07 19:36] jsjoeio opened #12 "Add helpful blocks to posts"
## Summary

I'd like to add additional types of blocks for my posts. Similar to how Tania uses them in her posts [here](https://www.taniarascia.com/overview-of-css-concepts/).

### Basic example

![image](https://user-images.githubusercontent.com/3806031/70379768-0e55ab80-18ee-11ea-9986-2e33728bacf9.png)

![image](https://user-images.githubusercontent.com/3806031/70379770-1877aa00-18ee-11ea-8587-8

[2019-12-07 19:40] jsjoeio opened #13 "Add page jump links to posts"
## Summary

Each heading in a post should be "linkable" meaning a reader can click on it and it will jump there and append it to the URL.

### Basic example

![2019-12-07 12 38 34](https://user-images.githubusercontent.com/3806031/70379796-99cf3c80-18ee-11ea-9228-0e4533d42d69.gif)

### Motivation

It allows readers to be able to share links that jump to specific sections.

[2019-12-07 19:42] jsjoeio opened #14 "Change emojis to hand-drawn svgs"
## Summary

Change all emojis to hand-drawn SVGs

### Basic example

![image](https://user-images.githubusercontent.com/3806031/70379811-00545a80-18ef-11ea-820f-c65a7eb9861c.png)
![image](https://user-images.githubusercontent.com/3806031/70379812-03e7e180-18ef-11ea-8ceb-94a1c48d23f9.png)

### Motivation

Adds a bit more personality to the site

[2019-12-07 19:45] jsjoeio opened #15 "Add hover-off animation to theme toggler"
## Summary

When you hover off the sun or the moon, they don't stay in place and it looks a bit janky. It would look smoother if we continued the animation on hover off.

### Basic example

Here's the issue:
![2019-12-07 12 43 42](https://user-images.githubusercontent.com/3806031/70379823-47425000-18ef-11ea-91ce-1b7274250ee5.gif)

Ideally, it would stay in place, or continue on hover off.

### Mot

[2019-12-07 20:01] jsjoeio opened #16 "Migrate to TypeScript"
## Summary

Migrate entire codebase to TypeScript

### Basic example

N/A

### Motivation

- type safety
- catch errors before they happen at runtime
- good practice
- better documentation/autocomplete
- fun 😄

[2019-12-07 23:06] jsjoeio opened #17 "Can't see name next to logo in light mode"
**Describe the bug**
Name is not appearing with light mode (due to font color)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to site
2. Switch to dark mode
3. See name
4. Switch to light mode
5. See name disappear

**Expected behavior**
You should be able to see the name "Joe Previte" on both light and dark mode

**Screenshots**

![image](https://user-images.githubusercontent.com/38060

[2019-12-08 16:49] jsjoeio opened #18 "Can't sign up for newsletter"
**Describe the bug**
You can't sign up for the newsletter.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to site
2. Add email to form
3. Click subscribe
4. Open console
5. See "Invalid Token" error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please comple

[2019-12-08 18:27] jsjoeio commented on #18
Successfully reproduced issue:
![image](https://user-images.githubusercontent.com/3806031/70394001-aebed500-19ad-11ea-92ed-1c2a806d5bcb.png)

[2019-12-08 18:30] jsjoeio commented on #18
API Token was missing one character at the end 🤦🏼‍♂️

Updated in Netlify and pushed a fix to remove console logs which will trigger new build: https://github.com/jsjoeio/joeprevite.com/commit/f4f1562e66965cd45b3fcbb5d5bce287300f6020

[2019-12-08 18:36] jsjoeio commented on #18
Also, forgot that Gatsby doesn't include ENV variables in the static output unless you prefix them with `GATSBY`

[2019-12-08 18:39] jsjoeio commented on #18
Woo! It's fixed 😄
![image](https://user-images.githubusercontent.com/3806031/70394142-47a22000-19af-11ea-92a2-97f8cdd9aedd.png)

@all-contributors please add @petercr for bug

[2019-12-08 18:39] #18 closed, assigned to nobody

[2019-12-12 19:25] jsjoeio commented on #14
[SVGs render faster than icon fonts](https://www.keycdn.com/blog/icon-fonts-vs-svgs) (we could probably lump emojis into that too)

[2019-12-13 14:07] jsjoeio opened #20 "Website: Open Stats"
## Summary

It would be cool to share some stats related to my newsletter, like number of subscribers, average open rate, average clicks, average number of emails sent per month.

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Practicing transparency. Aligns with the idea of open source. Goo

[2019-12-22 23:05] #10 closed, assigned to jsjoeio

[2019-12-23 14:50] jsjoeio commented on #1
@all-contributors please add @dependabot for code

[2019-12-23 21:26] v1rtl commented on #16
I'd argue here :laughing:

[2019-12-23 21:52] jsjoeio opened #32 "Site doesn't work in Russia"
**Describe the bug**
The site doesn't work in Russia.

**To Reproduce**
Steps to reproduce the behavior:

1. Use a VPN or something to make it look like I'm in Russia??
2. Visit joeprevite.com

**Expected behavior**
The site should work in Russia.

**Screenshots**
![image](https://user-images.githubusercontent.com/3806031/71382112-b6789f00-2593-11ea-97a6-e8abdf1793ec.png)

**Additional context**
F

[2019-12-23 22:03] jsjoeio commented on #16
lol you're probably right but this is my way of tricking myself into "thinking" it's fun 😂

[2019-12-23 22:04] v1rtl commented on #32
Hello, I'm the one who sent it on twitter

# Cause of the problem
Because of frequent blocks of RKN organization a lot of Netlify websites are being unavailable.

# Background
I contacted a person who works at Netlify and he said that servers are being transfered to Yandex Cloud if I'm not wrong. But some websites still don't work.

# Solution

Deploy a mirror on [Zeit Now](https://now.sh) or any

[2019-12-23 22:09] jsjoeio commented on #32
Oh perfect! Thanks for the additional context @talentlessguy! I'll see if I can ping a friend at Netlify as well. And if not, I'll try your suggested solution.

[2020-01-01 01:10] jsjoeio commented on #13
Fixed via https://github.com/jsjoeio/joeprevite.com/commit/0a740a096710bdc3721d7a85ae14b70d42bfcc36

[2020-01-01 01:10] #13 closed, assigned to nobody

[2020-01-02 14:48] jsjoeio opened #36 "Improve Twitter Card Look"
## Summary

Better Twitter Cards for SEO

### Basic example

Here's what it looks like now:

<img width="525" alt="image" src="https://user-images.githubusercontent.com/3806031/71672568-984d3480-2d33-11ea-9428-2ecd2e719c12.png">

Here's what I want it to look like:
<img width="453" alt="image" src="https://user-images.githubusercontent.com/3806031/71672581-a7cc7d80-2d33-11ea-9ffb-68818b32230a.png"

[2020-01-02 20:50] jsjoeio opened #37 "Console.log URL for New Drafts"
## Summary

Add console.log to hygen template so that when you create a new post, it logs a url (maybe even opens it up in the browser) to show that it's ready!

### Basic example

`Your draft has been started! View at http://localhost:8000/<slug>`

### Motivation

It'll save a bit of time.

🙅‍♂️manually copying is bad
👍 automating the little bits are good

[2020-01-04 19:56] jsjoeio opened #38 "Embed Tweets in Posts"
## Summary

The ability to embed tweets inside posts/content.

### Basic example

<img width="449" alt="image" src="https://user-images.githubusercontent.com/3806031/71770999-8fa25d00-2ef1-11ea-833c-0afcbb6ba99b.png">

### Motivation

Small enhancement to the reader's experience 😄

[2020-01-04 21:12] #37 closed, assigned to nobody

[2020-01-04 22:05] jsjoeio commented on #38
This could solve the issue: https://www.gatsbyjs.org/packages/@weknow/gatsby-remark-twitter/

[2020-01-05 22:11] jsjoeio opened #41 "Set up Lighthouse CI"
**Describe the bug**
Currently, when you open a PR, the CI fails on the first run. This is because the GH action runs before the Netlify deploy is ready.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a PR
2. Watch the GitHub Checks/CI run
3. See error

**Expected behavior**
The CI should run after the deploy preview is ready.

**Screenshots**
N/A

**Additional context**
N/A

[2020-01-05 22:13] jsjoeio commented on #41
Ideal solution: [run action on deploy/status event](https://twitter.com/kuldeepkeshwar/status/1213906550336548864?s=20) suggested by @kuldeepkeshwar

Backup solution: [Deploy to Netlify from Action](https://twitter.com/kevinwolfcr/status/1213914037668515840?s=20) suggested by @iamkevinwolf

[2020-01-06 21:26] jsjoeio commented on #41
@JakePartusch also wrote a GH Action to help solve this issue called [`wait-for-netlify-action`](https://github.com/JakePartusch/wait-for-netlify-action)

[2020-01-06 21:28] kvnwolf commented on #41
Nice one! How did it come with the "run action on deploy/status event" approach?

[2020-01-06 21:29] jsjoeio commented on #41
I haven't tackled this yet! I will maybe later this week or weekend. I'll let you know how it goes!

[2020-01-06 21:34] jsjoeio opened #42 "BYOA - Bring your own Analytics?"
## Summary

I've used GA in the past but trying to move away from it (and it's also not reliable thanks to the ad blockers). I don't want to pay for something (I say that now...). I'm wondering, how difficult can it be to build my own analytics?

Really, all I want to know is:
- website traffic (page visits)
- visits to each blog post

### Basic example

A page on my website `/site` or `/analytics

[2020-01-06 21:35] JakePartusch commented on #41
👋 Here's the link to action: https://github.com/JakePartusch/wait-for-netlify-action

It doesn't do anything fancy, just keeps pinging the preview url every few seconds until it gets a 200 or the timeout is reached.

Example of the action in "action" https://github.com/JakePartusch/website/commit/04f342137dc8d6b1256cf616e283d99a5fe7b6ef/checks?check_suite_id=386932234

[2020-01-06 21:38] jsjoeio commented on #41
Fantastic! Thanks for adding that example too @JakePartusch 🙏

Sidenote: I wish there were a way for that Lighthouse action to leave a comment on the PR with the table of scores (instead of us having to look at the GH action logs 😅 ) but I guess that's a problem for another day 😂

[2020-01-06 21:43] JakePartusch commented on #41
You can sort of do that with https://github.com/GoogleChrome/lighthouse-ci

<img width="752" alt="Screen Shot 2020-01-06 at 3 40 36 PM" src="https://user-images.githubusercontent.com/6424140/71850879-e72ffc80-309a-11ea-9a5c-c5652eac01f8.png">

The LHCI_GITHUB_APP_TOKEN is the secret sauce:
[code]
https://github.com/GoogleChrome/lighthouse-ci/blob/master/docs/getting-started.md#github-app-method-re

[2020-01-06 22:23] jsjoeio commented on #41
Oh perfect! You're the man. Thanks @JakePartusch ! 🙌

[2020-01-07 12:26] jsjoeio commented on #36
@jlengstorf has my back!

[Automatically Generate Social Images for Blog Posts ](https://www.learnwithjason.dev/blog/auto-generate-social-image/)

[2020-01-07 12:32] jsjoeio commented on #41
Let's hope #44 solved this! Going to open a PR to test.

[2020-01-07 12:50] jsjoeio commented on #41
Sadly, I don't think running the action on the status event is working as expected 😢

You can see in #46. ~I think I'm going to try the lighthouse-ci instead.~

Actually, after looking at the docs for all solutions, I feel like @JakePartusch your `wait-for-netlify` is the simplest/most straightforward. Going to try that instead.

[2020-01-07 13:27] jsjoeio commented on #41
It worked!!!
<img width="926" alt="image" src="https://user-images.githubusercontent.com/3806031/71898515-bd1c2000-3116-11ea-85bc-3feb7a614c40.png">

[2020-01-07 13:46] jsjoeio commented on #42
Even Basecamp is doing it
https://twitter.com/dhh/status/1214299016587988993?s=19

[2020-01-07 18:05] jsjoeio opened #49 "Set Up RSS Feed"
## Summary

set up an RSS feed for posts

### Basic example

a simple RSS feed

### Motivation

@chriscoyier [might read my blog](https://twitter.com/chriscoyier/status/1214606808125341696?s=20) if it has an RSS feed.

[2020-01-08 01:08] #41 closed, assigned to nobody

[2020-01-08 01:10] jsjoeio commented on #41
Woo! I ended up getting it to work. Here's the workflow:

[code]

[2020-01-08 01:12] jsjoeio commented on #41
@JakePartusch your `wait-for-netlify-action` came in handy 🙌🏼

Also, found this other GitHub Action called [`lighthouse-check-action`](https://github.com/foo-software/lighthouse-check-action#usage-standard-example) that leaves a comment with your scores. Pretty neat, huh?

![image](https://user-images.githubusercontent.com/3806031/71942031-1ddc4480-3179-11ea-95f7-4d20e590ef0f.png)

[2020-01-08 01:12] jsjoeio commented on #41
@all-contributors please add @JakePartusch for infra

[2020-01-08 01:14] jsjoeio commented on #1
@all-contributors please add @foo-software for infra

[2020-01-08 03:03] JakePartusch commented on #41
Awesome @jsjoeio! This looks great 🎉

[2020-01-08 22:36] jsjoeio opened #52 "Add animation to Logo"
## Summary

Make the JP fade in on load.
Make it spin on hover.

### Basic example

[Like this](https://codesandbox.io/s/xlrx1?module=%2Fsrc%2FExample.tsx)

### Motivation

Add some flava flav to the site 🕺

[2020-01-10 02:11] #17 closed, assigned to nobody

[2020-01-10 02:12] jsjoeio commented on #17
@all-contributors please add @Darth-Knoppix for bug

[2020-01-10 02:21] jsjoeio opened #55 "New Page: /uses"
## Summary

Add a new page `/uses`

### Basic example

- new page in `/pages`
- new folder in `/content/pages` and then transform Markdown to pages at build time

### Motivation

Show what I use and get featured on Wes Bos' uses website

[2020-01-12 15:17] jsjoeio opened #56 "Start Dev Server and Open New Post in VSCode"
## Summary

When creating a new post with `yarn g:post`, it should automatically start the dev server (`yarn dev`) if not running and open the new Markdown file in VSCode.

### Basic example

[code]

### Motivation

Because we want to automate the little things and save some time :)

[2020-01-12 22:41] jsjoeio commented on #36
Steps on how to do this:

- [x] [Design a social card](https://www.learnwithjason.dev/blog/design-social-sharing-card/)
- [x] Add serverless function or use [Jason's package](https://www.npmjs.com/package/@jlengstorf/get-share-image)
- [x] Test out with a blog post
- [ ] Write a blog post about it
- [ ] Tweet Jason and let him know

[2020-01-14 02:55] jsjoeio commented on #36
![twitter-card-template](https://user-images.githubusercontent.com/3806031/72310323-af96f680-363e-11ea-850a-4adee766d474.png)

[2020-01-15 18:08] jsjoeio commented on #36
Jason's package is working!

![image](https://user-images.githubusercontent.com/3806031/72459131-55ee1380-3787-11ea-8615-ca75ae7b7802.png)

[2020-01-15 22:54] #36 closed, assigned to nobody

[2020-01-15 22:54] #56 closed, assigned to nobody

[2020-01-27 04:26] #14 closed, assigned to nobody

[2020-02-03 01:43] jsjoeio opened #73 "Make Netlify ignore builds for dependabot branches"
## Summary

Dependabot is getting greedy and stealing all my build minutes. So I'd like to disable Netlify builds for dependabot branches

### Basic example

1. add `netlify.toml` file
2. use the [ignore block](https://docs.netlify.com/configure-builds/file-based-configuration/#ignore-builds) with a unix shell command to ignore those branches

Would probably need to add additional GH Action to bui

[2020-02-14 04:57] jsjoeio commented on #42
Alternative option: [GoatCounter](https://www.goatcounter.com/)

[2020-02-20 19:17] willjohnsonio commented on #52
Do you want it to fade in on load?

[2020-02-22 16:51] jsjoeio commented on #52
@wjohnson85 Yeah, I think that would be sick! I'll update the summary

[2020-02-27 19:22] #38 closed, assigned to nobody

[2020-03-01 18:10] jsjoeio opened #82 "Replace Lighthouse GH action with simpler action"
## Summary

Add a new GH action that runs `yarn install` and `yarn build` and remove the current Lighouse GH action

### Basic example

Use the GH action Node.js template. But use yarn install of npm

### Motivation

The Lighthouse action has a step called "wait for netlify preview" that consistently fails :( So I think it makes more sense to simplify the process.

[2020-03-07 18:40] jsjoeio commented on #11
Similar to that, the current syntax highlighter I'm using doesn't support Rust 😢 So that should be fixed as well.

<img width="732" alt="image" src="https://user-images.githubusercontent.com/3806031/76150503-fe21a980-605f-11ea-94c4-727b99eaa2e9.png">

[2020-03-07 18:41] jsjoeio commented on #11
Does GitHub support Rust? I would guess they do. Let's check

[code]

[2020-03-07 18:42] jsjoeio commented on #11
I'm going to take a stab at this!

[2020-03-07 18:46] jsjoeio commented on #11
Looking at the current syntax highlighter, it looks like these packages are involved:
- "gatsby-remark-prismjs": "^3.3.28"
- "prism-react-renderer": "^1.0.2"
- "prism-themes": "^1.3.0"
- "prismjs": "^1.17.1"

And the actual implementation happens in [src/components/mdx/Code.js](https://github.com/jsjoeio/joeprevite.com/blob/master/src/components/mdx/Code.js)

[2020-03-07 18:50] jsjoeio commented on #11
So the implementation lies in this project [`prism-react-renderer`](https://github.com/FormidableLabs/prism-react-renderer). The question is:
- can I easily add support for new languages like Rust?
- can I export my VS Code theme and use that?

[2020-03-07 19:21] jsjoeio commented on #11
So I was able to add Rust pretty easily! The next step will be switching the theme to be my VS Code theme

[2020-03-07 20:01] jsjoeio commented on #11
I was able to add the vscode theme too!

[2020-03-07 20:19] #11 closed, assigned to jsjoeio

[2020-03-07 20:19] #82 closed, assigned to nobody

[2020-03-21 19:49] jsjoeio opened #94 "Add webmentions to Post"
## Summary

Add webmentions to blog

### Basic example

Follow @dance2die's [blog post](https://sung.codes/blog/2020/02/17/clientside-webmentions-in-gatsby/)

### Motivation

I want to show the connection between the post someone is reading, and when someone mentioned it on the web (i.e. Twitter). I think it could benefit:
1. the reader to show what people said about the post
2. the author (me) to

[2020-03-22 23:17] jsjoeio opened #96 "Add "Updated on" to posts"
## Summary

Brian Lovin wrote about this idea of "[Incrementally Correct Personal Websites](https://brianlovin.com/overthought/incrementally-correct-personal-websites)". I'm thinking about embracing it by adding some piece of information that says "Updated on" to posts.

### Basic example

At the top of the post, or bottom of post "Updated on March 22, 2020"

### Motivation

Shows that the posts a

[2020-03-25 22:46] jsjoeio commented on #12
<img width="824" alt="image" src="https://user-images.githubusercontent.com/3806031/77592584-b4362180-6eaf-11ea-82a4-bef8f37f1d74.png">

More inspiration (from Docusaurus)

[2020-03-26 15:55] jsjoeio commented on #12
Josh shared some of his in this [tweet thread](https://twitter.com/JoshWComeau/status/1243136771652751360?s=20)

And here is his repo with [those components](https://github.com/joshwcomeau/blog/tree/master/src/components)

[2020-03-26 15:56] jsjoeio commented on #12
![image](https://user-images.githubusercontent.com/3806031/77667570-a16b2d80-6f3f-11ea-92c9-243836ea2aac.png)

![image](https://user-images.githubusercontent.com/3806031/77667580-a5974b00-6f3f-11ea-8fdd-a168ba0bbd24.png)

So beautiful

[2020-04-06 16:25] jsjoeio opened #103 "Create section for notes"
## Summary

I like what Max does with his [notes](https://notes.mxstbr.com/Gatsby_is_inventing_a_new_category_of_websites). I know Chris does something similar.

### Basic example

Create a section for `notes`

### Motivation

Ability to put things out more quickly. Don't know if it will work that easy but could be worth trying.

[2020-04-09 02:53] #52 closed, assigned to nobody

[2020-04-22 20:43] jsjoeio opened #107 "Research good ideas from Twitter thread"
## Summary

Maggie Appleton shared a bunch of great ideas [here](https://twitter.com/Mappletons/status/1250532315459194880?s=20).

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2020-04-23 22:43] jsjoeio opened #108 "Enable incremental builds"
## Summary

https://www.netlify.com/blog/2020/04/23/enable-gatsby-incremental-builds-on-netlify/?utm_source=twitter&utm_medium=gatsby-inc-builds-jl&utm_campaign=devex

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing this? What use cases does it support? What is the expected o

[2020-04-24 01:29] jsjoeio commented on #103
https://www.ianjones.us/

[2020-04-24 02:23] jsjoeio commented on #94
https://twitter.com/waterproofheart/status/1253497881790644231?s=21

[2020-04-26 23:35] jsjoeio opened #109 "Add filters to search for all articles"
## Summary

It would be nice to be able to filter posts on the `/articles` page.

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.
<img width="844" alt="image" src="https://user-images.githubusercontent.com/3806031/80322734-dc30e180-87db-11ea-93ad-fc0cc7543755.png">

### Motivation

I've written about various

[2020-04-26 23:35] jsjoeio commented on #109
Todos:
- [x] add categories to articles
- [x] add filters to /articles page

[2020-04-27 02:21] #55 closed, assigned to nobody

[2020-04-28 04:45] jsjoeio opened #113 "Customize Schema for Tags"
## Summary

I want to add some validation to categories (when I add them)

### Basic example

Kyle proposed customizing my schema
- https://www.gatsbyjs.org/docs/schema-customization/#nested-types
- https://github.com/gatsbyjs/gatsby/blob/master/www/src/data/tags-docs.js

Tweet thread
- https://twitter.com/gill_kyle/status/1254976853518868480?s=20
- https://twitter.com/gill_kyle/status/12549778541

[2020-05-01 00:04] jsjoeio opened #115 "Add Line Highlighting"
## Summary

@maxcell wrote an [excellent post](https://prince.dev/blog/highlight-with-react) about adding line highlighting. I'd like to try and let them know how well it went!

### Basic example

See blog post.

### Motivation

Allow me to highlight key pieces in code snippets, without having to make them diffs

[2020-05-01 20:30] jsjoeio commented on #12
freeCodeCamp's
<img width="1166" alt="image" src="https://user-images.githubusercontent.com/3806031/80839363-f558da00-8baf-11ea-94cf-ef7962636fcf.png">

[2020-05-01 20:48] jsjoeio opened #119 "Support Coding Challenges like freeCodeCamp"
## Summary

I don't know what this would look like, but I would love to draw inspiration [from them](https://contribute.freecodecamp.org/#/how-to-work-on-coding-challenges?id=guidelines-for-content-of-hints-and-solutions-topics) and figure out a template/standard/component for adding tests to my blog posts. It could be a lot of fun!

I don't know if Gatsby Recipes would play into this at all but w

[2020-05-01 20:49] jsjoeio commented on #119
Link to blog post about [Gatsby Recipes](https://www.gatsbyjs.org/blog/2020-04-15-announcing-gatsby-recipes/)

[2020-05-03 22:24] #1 closed, assigned to jsjoeio

[2020-05-03 22:27] jsjoeio commented on #12
Todos:
- [ ] Add `<Note />` component
- [ ] Add `<Tip />` component

[2020-05-04 02:01] #115 closed, assigned to nobody

[2020-05-04 19:27] jsjoeio opened #123 "Add snippets to site"
## Summary

Similar to notes, but like [this](https://joshwcomeau.com/snippets/react-hooks/use-has-mounted)

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2020-05-05 03:05] #108 closed, assigned to nobody

[2020-05-06 03:47] jsjoeio commented on #12
Made some progress, but unsure if I'm heading in the right direction: https://spectrum.chat/mdx/general/react-component-markdown-as-a-prop~66bae3e4-bb27-4537-b3b3-ee3712a6eb49

[2020-05-06 19:12] jsjoeio commented on #12
<img width="1353" alt="image" src="https://user-images.githubusercontent.com/3806031/81218276-cd43ef00-8f92-11ea-900e-a31e63b9e010.png">

[2020-05-06 19:26] jsjoeio opened #124 "Add support fo excalidraw embeds"
## Summary

https://twitter.com/jsjoeio/status/1258115302199406592?s=21

### Basic example

Add exacalidraw link to markdown

at build time, turns into svg

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2020-05-06 21:52] jsjoeio commented on #124
more examples and details: https://github.com/trevorblades/excalidraw-embed

make sure to thank and add to contributors:
- @j-f1
- @trevorblades

[2020-05-06 22:03] trevorblades commented on #124
Is it cool if I add your site to an "In the wild" section in the readme after you've implemented it?

[2020-05-06 22:10] jsjoeio commented on #124
100%! 🥳

[2020-05-07 01:41] jsjoeio commented on #12
<img width="800" alt="Screen Shot 2020-05-05 at 8 39 34 PM" src="https://user-images.githubusercontent.com/3806031/81245180-347c9600-8fc9-11ea-9b5e-e9cf3b21feeb.png">

[2020-05-07 03:14] jsjoeio commented on #12
Progress
<img width="800" alt="Screen Shot 2020-05-06 at 8 12 32 PM" src="https://user-images.githubusercontent.com/3806031/81250600-2f721380-8fd6-11ea-9c80-9fa1043eeac2.png">

[2020-05-07 03:14] jsjoeio commented on #12
https://www.taniarascia.com/understanding-generators-in-javascript/

[2020-05-08 02:03] jsjoeio commented on #12
TODOS:

- [x] Modify styles to match my site
- [x] Add support for Dark mode
- [x] Clean up Blog Post
- [x] Publish
- [x] Open PR to MDX Docs

[2020-05-08 03:04] #12 closed, assigned to nobody

[2020-05-08 14:57] jsjoeio opened #126 "Test Spellchecker"
## Summary

Brief explanation of the feature.

http://proselint.com/checks/

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2020-05-08 23:44] jsjoeio commented on #126
That one "proselint" is really nice but it would run locally on the machine. It might be less friction to add a GH Action that checks?

https://github.com/marketplace/actions/check-spelling-js-vue-html-markdown-text

[2020-05-09 03:31] jsjoeio commented on #126
I tested it out...It caught some stuff, but was pretty noisy and seems like more work than it's worth.

https://github.com/jsjoeio/joeprevite.com/pull/127/checks?check_run_id=658288456

Closing for now

[2020-05-09 03:31] #126 closed, assigned to nobody

[2020-05-10 03:15] jsjoeio opened #128 "Add <Quiz /> component"
## Summary

I want to be able to test myself and readers at the end of blog posts.

### Basic example

I imagine the API looking like this:

[code]

### Motivation

It would be a great way to test my readers and myself!

[2020-05-10 03:15] jsjoeio commented on #128
I might steal some ideas from tailwind or something on how to style it. Or look at freeCodeCamp or Codecademy or something

[2020-05-11 17:19] jsjoeio opened #129 "Add Links to External Posts"
## Summary

Before this blog, I had written a decent amount of posts elsewhere. It would be great to link those here.

Articles
- https://learntocodewith.me/posts/make-money-coding/
- fCC [articles](https://www.freecodecamp.org/news/author/jsjoeio/)
- Twilio [articles](https://www.twilio.com/blog/author/jprevite)
- SitePoint [articles](https://www.sitepoint.com/author/javascriptjoe)
- https://www.

[2020-05-12 23:57] jsjoeio opened #130 "Add Storybook for JSX Components"
## Summary

Could be overkill, (honestly probably...) but would be cool to add Storybook and show the different components available for MDX.

### Basic example

- run on localhost, shows components
- stretch: deployed to storybook.joeprevite.com lol

### Motivation

We don't really need it...just a random idea

[2020-05-12 23:57] jsjoeio commented on #130
I think about all the components Josh made for his site so could be cool to do it for those reasons? and to motivate me to add more components

[2020-05-15 17:38] jsjoeio opened #131 "Remove dates"
https://twitter.com/anthilemoon/status/1261291598178127872?s=21

I want to explore this more

[2020-05-20 03:39] jsjoeio opened #132 "Redo note block"
## Summary

Brief explanation of the feature.

Make it like prince’s

https://prince.dev/blog/callout

### Basic example

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2020-05-24 03:19] jsjoeio commented on #113
Made some progress here! I pushed up a branch: https://github.com/jsjoeio/joeprevite.com/tree/validate-categories

[2020-05-25 03:44] jsjoeio commented on #20
Something like Lee's [Dashboard page](https://leerob.io/dashboard)

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/3806031/82775978-371b2000-9dfe-11ea-9365-c16a979bf5c9.png">

He even wrote up a blog post on how to do it!

https://leerob.io/blog/fetching-data-with-swr

[2020-05-25 15:08] jsjoeio commented on #20
This will help too: https://leerob.io/blog/real-time-post-views

[2020-05-25 16:07] jsjoeio commented on #20
And this

https://jamstackfns.com/f/firebase

[2020-05-26 00:09] #15 closed, assigned to nobody

[2020-05-26 02:49] jsjoeio commented on #113
Made more progress. Wrote a nice validateTags function :)

[2020-05-27 03:28] #124 closed, assigned to nobody

[2020-05-27 22:21] jsjoeio opened #136 "☂️ Bugs, Feature Requests and Ideas: Catch All"
The idea behind this issue is to stop opening new issues every time something cool comes up 😂

Instead, I'll post them here as comments. Then if I decide to go with one, I'll turn it into a proper issue.

[2020-05-27 22:23] jsjoeio commented on #136
# Use Rough Annotation
Add `rough-annotation`. I have to play with it but here [the link](https://github.com/pshihn/rough-notation).

Could be used for tutorials and stuff. I imagine using it in combination with a screencast.

More reasons to add rough annotation. See [tweet thread](https://twitter.com/preetster/status/1272943087837298688?s=20).

Tally count: 2

[2020-05-27 23:01] jsjoeio commented on #124
@all-contributors please add @j-f1 and @trevorblades for code

[2020-05-27 23:02] jsjoeio commented on #124
@all-contributors please add @trevorblades for code

[2020-05-28 02:11] jsjoeio commented on #136
# Definition Card

Like the jestjs.io website, click and it flips around and shows the definition. Could be fun!

[2020-05-28 02:50] jsjoeio commented on #113
Success!!!
<img width="798" alt="image" src="https://user-images.githubusercontent.com/3806031/83092954-5959ab80-a053-11ea-9f89-ba827e2b846d.png">

[2020-05-28 17:26] #113 closed, assigned to nobody

[2020-05-30 15:59] jsjoeio commented on #136
# Issue Referrer URL

The newsletter subscriber form appears on all pages. It should take in the current page url and use that as the referring url so that I know "this person signed up while reading X page"

[2020-05-30 16:04] jsjoeio commented on #20
I might call it /open like [Nomad List](https://nomadlist.com/open)

[2020-05-30 16:05] jsjoeio commented on #20
## Todos

- [x] Add netlify functions to site
- [x] Get function work in production
- [x] Add firebase
- [x] Add environment variables to Netlify
- [X] Refactor into other file
- [x] Figure out `accountServiceKey.json`
- [x] Test function to get page views
- [x] Add page views to blog posts
- [x] Add /open page

[2020-05-30 21:46] jsjoeio commented on #20
https://www.gatsbyjs.org/blog/2018-12-17-turning-the-static-dynamic/

[2020-05-30 22:30] jsjoeio commented on #20
https://github.com/netlify/netlify-lambda/issues/118

[2020-05-31 01:00] jsjoeio commented on #20
https://dev.to/jackabox/using-firebase-admin-sdk-with-netlify-lambda-functions-4h8e

[2020-05-31 01:04] jsjoeio commented on #20
https://kyleshevlin.com/firebase-and-gatsby-together-at-last

[2020-05-31 01:04] jsjoeio commented on #20
Man, I'm struggling hard core with this Firebase part.

[2020-05-31 01:48] jsjoeio commented on #20
I think I've run into every error possible...

[code]

[2020-05-31 03:09] jsjoeio commented on #20
https://joshwcomeau.com/gatsby/netlify-functions-and-gatsby-cloud/#zip-it-and-ship-it

[2020-05-31 03:16] jsjoeio commented on #20
man i give up :(

[2020-05-31 03:22] jsjoeio commented on #20
[Firebase url](https://console.firebase.google.com/project/website-pageviews-c8d4d/database/website-pageviews-c8d4d/data/~2Fjoeprevite-dot-com)

[2020-05-31 03:40] jsjoeio commented on #20
what  day...6 hours of trying.

okay i got basic functions working with netlify. no luck with firebase yet

[2020-05-31 17:33] jsjoeio commented on #20
To get the function to work in production:
- I added a `command` to the `build` in the `netlify.toml`
- updated `yarn build` in the `package.json`
- updated the functions directory `functions-build` in the Netlify UI

[2020-05-31 18:37] jsjoeio commented on #20
soooo close, I can't get it to work without the JSON file though...

[2020-05-31 20:39] jsjoeio commented on #20
I got it working!

Now to try and make it environment variables: https://community.netlify.com/t/using-firebase-admin-sdk-with-lambda-function/2136

[2020-05-31 21:39] jsjoeio commented on #20
Using local env with `netlify-lambda`

https://github.com/netlify/netlify-lambda/issues/118

[2020-05-31 21:43] jsjoeio commented on #20
FINALLY

[2020-06-01 03:02] jsjoeio commented on #136
# Update /open Page

It would be cool to style the page better and add the following:
- Twitter followers
- email subscribers
- egghead videos
- egghead video views??
- table with blog posts and views

## Examples
- https://sld.codes/stats
- https://leerob.io/dashboard
- https://stephsmith.io/open

[2020-06-01 03:21] jsjoeio commented on #20
Closed via #141

[2020-06-01 03:21] #20 closed, assigned to nobody

[2020-06-03 03:16] #73 closed, assigned to nobody

[2020-06-07 16:35] jsjoeio commented on #42
Closing via #151

[2020-06-07 16:35] #42 closed, assigned to nobody

[2020-06-08 21:57] jsjoeio commented on #49
@tatianamac asked about one! Another sign that you (Joe) should get on this!

[2020-06-08 22:02] jsjoeio opened #154 "Update Intentional Blog Post"
Feedback from @tatianamac

Call it out with a `<Note />` in the post!

[2020-06-08 22:05] tatianamac commented on #49
(I love the idea of contributing to a colleague/friend's blog as OSS contribution 😂)

[2020-06-15 19:54] jsjoeio commented on #136
# Add Type to Content

I am using the `content` folder to host things such as blog posts and pages. I want to also include snippets. Therefore, it makes sense to be able to distinguish between these different content types. What I'm thinking:
- article
- page
- snippet

Then what I can do is have `/articles` only show content with `type: article`.

Eventually, I could even add in other types of co

[2020-06-15 21:39] jsjoeio commented on #136
# Auto-merge Dependabot

I saw this and I think it automerges PRs from dependabot

https://github.com/open-sauced/open-sauced/actions/runs/135568097/workflow

[2020-06-15 22:09] jsjoeio commented on #136
# Pretty Highlight Lines

I've seen other people do this (this is from HEY).
<img width="292" alt="image" src="https://user-images.githubusercontent.com/3806031/84711005-3582da80-af1a-11ea-9c88-e0d31e5f3c0c.png">

It would add a nice personal touch if I had this too.

[2020-06-21 21:11] jsjoeio commented on #136
# Use ConvertKit for Email Downloads

ConvertKit PDF with a sequence

[https://github.com/jlengstorf/learnwithjason.dev/blob/main/site/functions/subscribe.js](https://github.com/jlengstorf/learnwithjason.dev/blob/main/site/functions/subscribe.js)

[https://github.com/jlengstorf/learnwithjason.dev/blob/main/site/src/components/form.js](https://github.com/jlengstorf/learnwithjason.dev/blob/main/site

[2020-06-22 03:32] jsjoeio commented on #109
This is going to take some work. I have some features working, but not all...It has to do with me updating the same state for both the filters and the search.

Maybe I need to use Excalidraw and draw out the different types of things.

What I'm thinking
- function to handle the filter tags
- function to handle query search
- function to `updateState(tags, querySearch)`

Requirements:
- [x] typing

[2020-06-22 03:54] jsjoeio commented on #109
Wow, this is not easy...

[2020-06-23 00:46] jsjoeio commented on #109
found a bug:

1. type in a query "hey em"
2. toggle on a filter "JavaScript"
3. see no posts show (expected)
4. untoggle "JavaScript, filtered data should now show that one post (i.e. allPosts filtered for query only)

[2020-06-23 03:47] #109 closed, assigned to jsjoeio

[2020-06-23 23:21] jsjoeio commented on #136
# Add Footer

I like Chris'. Might be cool to do something as well.

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/3806031/85476604-8d01f580-b56d-11ea-99f2-60611ef0a1dc.png">

[2020-06-26 18:18] jsjoeio commented on #136
# Tweetable Selections

[This is neat](https://www.christopherbiscardi.com/tweetable-selections)!

[2020-07-01 17:17] jsjoeio opened #170 "Dark Mode: Can't see active filters"
It's really hard to tell which filters are active on the /articles page when using the site in dark mode

[2020-07-06 03:33] jsjoeio commented on #136
# Add Tippy.js

I love some of the cool popovers and things you see when you hover on these site:
- https://notes.mxstbr.com/About_these_notes
- https://notes.aravindballa.com/?stackedPages=%2Fhow-i-built-this

More here:
- https://github.com/MaggieAppleton/digital-gardeners
- https://atomiks.github.io/tippyjs/

Oh man, this is making me want to write more or have bidirectional links in my Gatsby

[2020-07-07 20:33] jsjoeio commented on #136
# SEO Improvements

- gatsby-plugin-sitemap
- gatsby-plugin-robots-txt

https://dev.to/cole_ruche/my-top-plugins-for-a-gatsbyjs-powered-blog-1oo1

[2020-07-17 02:56] jsjoeio commented on #136
# Updated Date

Some posts need some updating. Rather than overwriting the publish date, it would be nice to add an additional field and display that on posts.

Here is a link to [how to do this with gatsby](https://joshuatz.com/posts/2019/gatsby-better-last-updated-or-modified-dates-for-posts/).

Monica pointed out its good to keep things up to date

<img width="614" alt="image" src="https://user

[2020-07-23 17:29] jsjoeio opened #179 "Clarify Twitter Card post"
At the end your said to add meta tag as : <meta name="twitter:image" content={socialImage} />
I am a bit confused as to where exactly or in which file do i need to put this. I tried searching in your commit history, but couldn't find!

In the 6th step in the post, I don't say where to put this or where it lives.

[2020-07-23 18:07] jsjoeio opened #180 "Fix Edit on GitHub link"
`master` was hard-coded in the "Edit on GitHub" logic which causes it to break. This can be fixed by updating it to `main`.

[2020-07-23 18:16] jsjoeio commented on #180
Identified by @therajat08

[2020-07-24 21:41] jsjoeio opened #181 "Add Prince's post"
Add @maxcell's post to the learning quickly post

https://prince.dev/rust-map

[2020-07-24 21:43] maxcell commented on #181
@jsjoeio Change it to this https://prince.dev/rust-map

[2020-07-24 21:44] jsjoeio commented on #181
whoops

[2020-07-24 21:47] maxcell commented on #181
I just changed it at the last second don't worry hahaha

[2020-07-27 20:31] jsjoeio opened #182 "How to pronounce last name"
This has come up multiple times. I need to have a short link or something with a recording on how to pronounce.

[2020-07-28 02:47] jsjoeio commented on #136
# Netlify builds

You can skip netlify builds for dependabot with this trick

https://twitter.com/samselikoff/status/1280621568482316288?s=20

[2020-07-28 03:21] jsjoeio commented on #136
# Improve the search

Thomas Wang did a nice job.

https://www.thomas.wang/blog/adding-search

[2020-08-01 20:19] #180 closed, assigned to nobody

[2020-08-01 20:20] jsjoeio commented on #180
@all-contributors please add @therajat08 for bug

[2020-08-06 15:14] jsjoeio commented on #49
https://twitter.com/alexott_en/status/1291354085568937985?s=20

[2020-08-06 15:34] alexott commented on #49
I want to add blog to planet clojure: https://github.com/ghoseb/planet.clojure

[2020-08-17 16:27] jsjoeio commented on #49
It will also allow me to show my latest posts in my GitHub README profile!

https://github.com/pawelgrzybek/pawelgrzybek

[2020-08-17 18:16] alexott commented on #49
added to Planet...

[2020-08-20 16:30] jsjoeio commented on #136
# Migrate to Toast

It could be fun living on the bleeding edge, but also faster build times and Chris said he has been helping people!

https://twitter.com/chrisbiscardi/status/1296482169121132544?s=20

[2020-09-10 22:06] jsjoeio commented on #136
# New Pages

I think I should add three new pages:
- /courses (link to egghead and vimforvscode.com)
- /external (external posts like sitepoint and others)
- /about (podcasts, interviews, etc)

[2020-09-10 22:06] jsjoeio commented on #136
# Footer

I like the footer on Chris Biscardi's website. I think I should add something like that.

[2020-09-10 23:11] jsjoeio commented on #182
https://drive.google.com/file/d/1ZRTvOT6IdHxRddsW_RmxBMnRli-TALSN/view?usp=sharing

[2020-09-23 17:45] jsjoeio commented on #136
# ConvertKit Subscribers

List the number of subscribers next to newsletter sign up

[code]

# Newsletter page

a place to go sign up

[2020-10-09 23:50] jsjoeio opened #200 "Upgrade embedder for excalidraw"
It's fixed now!  Just need to upgrade

https://github.com/excalidraw/gatsby-embedder-excalidraw/issues/22

[2020-10-13 18:41] jsjoeio commented on #136
# Update SEO stuff

[read this](https://blog.maximeheckel.com/posts/seo-mistakes-i-have-made-and-how-i-fixed-them)

[2020-10-28 20:46] javila35 commented on #170
You have a color commented out on [line 48](https://github.com/jsjoeio/joeprevite.com/blob/1ccb3d0021232ed93fae4689c9a65edffc7cabd5/src/components/Theming.js#L48). I added that after trying a few other colors, and I think it looks good. Plus it's consistent with the color you use in default. It seems like you didn't like that color as an option since it's commented out. Am I right in assuming you

[2020-10-29 20:31] jsjoeio commented on #170
Ah! I don't know what I was thinking. You're right though. That color does look good.

@javila35 I think if you want to go ahead and use that, I would totally accept that. You are so awesome for commenting on this and even considering fixing it for me! 🙌🏼 🙏🏼

[2020-11-04 00:51] jsjoeio commented on #170
Fixed by #203

[2020-11-04 00:51] #170 closed, assigned to nobody

[2020-11-04 00:53] jsjoeio opened #206 "Dark Mode Issue"
I can't remember who said it (someone in the Twitter DMs). But there's some issues with the header color and dark mode. Look into this!

[2020-11-04 00:54] jsjoeio opened #207 "Finish PDF in Excalidraw for learning quickly post"
It's almost done. Just need to add it in and add to ConvertKit for people to receive.

[2021-12-29 03:43] #16 closed, assigned to nobody

[2021-12-29 03:43] #32 closed, assigned to nobody

[2021-12-29 03:43] #49 closed, assigned to nobody

[2021-12-29 03:43] #94 closed, assigned to nobody

[2021-12-29 03:43] #96 closed, assigned to nobody

[2021-12-29 03:43] #103 closed, assigned to nobody

[2021-12-29 03:43] #107 closed, assigned to nobody

[2021-12-29 03:43] #119 closed, assigned to nobody

[2021-12-29 03:43] #123 closed, assigned to nobody

[2021-12-29 03:43] #128 closed, assigned to nobody

[2021-12-29 03:43] #129 closed, assigned to nobody

[2021-12-29 03:43] #130 closed, assigned to nobody

[2021-12-29 03:43] #131 closed, assigned to nobody

[2021-12-29 03:43] #132 closed, assigned to nobody

[2021-12-29 03:43] #136 closed, assigned to nobody

[2021-12-29 03:43] #154 closed, assigned to nobody

[2021-12-29 03:43] #179 closed, assigned to nobody

[2021-12-29 03:43] #181 closed, assigned to nobody

[2021-12-29 03:43] #182 closed, assigned to nobody

[2021-12-29 03:43] #200 closed, assigned to nobody

[2021-12-29 03:43] #206 closed, assigned to nobody

[2021-12-29 03:43] #207 closed, assigned to nobody

[2022-01-02 11:28] deelobase opened #243 "Deploy your app for free 🚀"
Hey @jsjoeio, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https://deel